*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    color: #333;
}
header{
    background-color: #1e3a5f;
    color: white;
    text-align: center;
    padding: 30px;
}
 header h1{
    margin-bottom: 10px;
 }
 nav{
    background-color: #142840; 
    text-align: center;
    padding:  15px;
 }
 nav a{
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
 }
 footer{
    background-color: #142840;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
 }